.m2 {
    margin-top: 3rem;
}

.bodytext {
    font-size: 1.1rem;
}

.bodyLower {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.body-left {
    width: 45%;
    text-align: center;
}

.body-right {
    width: 45%;
    text-align: center;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .bodyLower {
        flex-direction: column;
        align-items: center;
    }
    .body-left {
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .body-right {
        width: 100%;
    }
}