.footer {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    width: 100vw;
    background-color: #ebe7dd !important;
}

.darker-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #dbd5c5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: .9em;
    color: #7c7c7c;
}

.non-click {
    color: #7c7c7c;
}

.logo {
    img {
        max-height: 56px;
    }
}

.last-flex {
    display: flex;
    align-items: center;
    img {
        height: 24px;
        margin-left: .5rem;
    }
}

.footer-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .footer {
        margin-top: 1.5rem;
        font-size: .6em;
        justify-content: space-between;
    }
    .middle {
        display: none;
    }
}