.hero {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    background: url('../images/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .hero {
        height: 50vh;
    }
}