@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import '../components/nav.scss';
@import './hero.scss';
@import './body.scss';
body {
    font-family: 'Arvo', serif;
    background-color: #fbfbfb;
}

.container {
    max-width: 1200px;
}

.flex-it {
    display: flex;
}

a {
    color: #4a4a4a;
    a:hover {
        color: #3273dc;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .title {
        font-size: 1.5rem;
    }
    .bodytext {
        font-size: .9rem;
    }
}