.bttn-default {
    color: #fff;
}

.bttn-primary,
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
    color: #a3d7d3;
}

.bttn-warning {
    color: #feab3a;
}

.bttn-danger {
    color: #ff5964;
}

.bttn-success {
    color: #28b78d;
}

.bttn-royal {
    color: #bd2df5;
}

.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    background: transparent;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}

.bttn-lg {
    padding: 8px 15px;
    font-size: 24px;
    font-family: inherit;
}

.bttn-md {
    font-size: 20px;
    font-family: inherit;
    padding: 5px 12px;
}

.bttn-sm {
    padding: 4px 10px;
    font-size: 16px;
    font-family: inherit;
}

.bttn-xs {
    padding: 3px 8px;
    font-size: 12px;
    font-family: inherit;
}

.bttn-simple {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    background: transparent;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    font-family: inherit;
    padding: 5px 12px;
    overflow: hidden;
    border-width: 0;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.bttn-simple:hover,
.bttn-simple:focus {
    opacity: 0.75;
}

.bttn-simple.bttn-xs {
    padding: 3px 8px;
    font-size: 12px;
    font-family: inherit;
}

.bttn-simple.bttn-sm {
    padding: 4px 10px;
    font-size: 16px;
    font-family: inherit;
}

.bttn-simple.bttn-md {
    font-size: 20px;
    font-family: inherit;
    padding: 5px 12px;
}

.bttn-simple.bttn-lg {
    padding: 8px 15px;
    font-size: 24px;
    font-family: inherit;
}

.bttn-simple.bttn-default {
    background: #C5A289;
}

.bttn-simple.bttn-primary {
    background: rgba(3, 3, 3, 0.61);
}

.bttn-simple.bttn-warning {
    background: #feab3a;
}

.bttn-simple.bttn-danger {
    background: #ff5964;
}

.bttn-simple.bttn-success {
    background: #28b78d;
}

.bttn-simple.bttn-royal {
    background: #bd2df5;
}