.sliderStyles {
    margin-top: 5rem;
    display: inline-block;
    max-width: 600px;
}

.slick-slide img {
    padding-right: .5rem;
    padding-left: .5rem;
}

.slick-track {
    display: flex !important;
    align-items: center;
}

.slides {
    margin-top: 4rem;
}

.alignPics {
    display: flex;
    align-items: center;
}