.navStyle {
    // margin-top: 1rem;
    min-height: 3rem;
    font-size: 1.1rem;
}

.navbar-brand {
    img {
        min-height: 1.5rem;
        max-height: 6rem;
        height: 6rem;
    }
}

.navbar-menu {
    align-items: center;
    background-color: #fbfbfb;
}

.navbar-start {
    margin-left: 2rem;
}

.navbar-end {
    .navbar-item {
        align-self: flex-start;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .navStyle {
        font-size: 1rem;
    }
    .navbar-brand img {
        max-height: 70px;
    }
    .navbar-item,
    .navbar-link {
        padding: .15rem .75rem;
    }
    .navbar-start {
        margin-left: 1rem;
    }
    .navbar-end {
        margin-left: 1rem;
    }
    .bttn-simple.bttn-md {
        font-size: 18px;
    }
}